/* Sidebar styles */
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 20px;
  }
  
  /* Sidebar header styles */
  .sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .sidebar-header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .sidebar-header h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  /* Sidebar menu styles */
  .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar-menu li {
    margin-bottom: 10px;
  }
  
  .sidebar-menu a {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sidebar-menu a:hover {
    background-color: #f2f2f2;
  }
  
  .sidebar-menu img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }  