  .head {
    transform: translate(280px, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    height: 80px;
    padding: 0 32px;
  }

.search-container {
	position: relative;
  transform: translate(20px, 0);
}

.search-input {
	box-sizing: border-box;
	width: 300px;
	padding: 10px 15px;
	border: 1px solid navy;
	border-radius: 50px;
	font-size: 14px;
  color: navy;
	background-color: #fff;
}

.search-input:focus {
	outline: none;
	border-color: navy;
	box-shadow: 0 0 10px #999;
}

.search-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	height: 20px;
	width: 20px;
  color: navy;
}

.search-icon path {
	fill: navy;
}

/*
.Admin {
  margin-right: 10px;
}

.patient-image {
  font-weight: bold;
  margin: 0;
  color: #000;
}

.Admin-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.settings-icon img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}  
*/

.header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Admin {
  transform: translate(200px, 0);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: navy;
}

p {
  transform: translate(200px, 0);
  margin: -10px 0;
  text-align: center;
  font-size: bold;
  color: #444;
  transform: translate(5, 5px);
}

p:last-of-type {
  font-size: 1rem;
  color: navy;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: navy;
  display: inline-block;
  font-size: 5px;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

.patient-image {
  transform: translate(-20px, 0);
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 10px;
}

.patient-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.settings-icon {
  transform: translate(-250px, 0);
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.settings-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* sidebar */
/* Body styles */
body {
  margin-top: 0px;
  color: navy;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container styles */
.container {
  justify-content: left;
  margin-top: 20px;
  transform: translate(30px, -150px);
}
    
.Logo {
  width: 90px;
  height: 90px;
  transform: translate(-20px, 50px);
}
  
.company-name {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  transform: translate(5px, -40px);
}
  
.company-name h1 {
  font-family: ALGERIAN;
  margin: 0;
  font-size: 30px;
  font-weight: 30px;
  line-height: 24px;
  color: navy;
}

/* Sidebar styles */
.sidebar {
  width: 200px;
  height: calc(100vh - 100px);
  background-color: white; 
}

/* Sidebar header styles */
.sidebar-header {
  text-align: left;
  margin-bottom: 25px;
  margin-top: -10%;
}

/* Sidebar menu styles */
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Sidebar menu item styles */
.sidebar-menu li {
  margin-bottom: 15px;
}

.sidebar-menu li a {
  display: flex;
  align-items: centre;
}

.sidebar-menu li a:hover {
  color: #000;
}

.sidebar-menu li img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}  

.sidebar {
  position: relative;
  width: 250px;
  height: 100vh;
  background-color: none;
}

.sidebar-content {
  padding: 40px;
}

/* Add this CSS for the copyright statement */
.sidebar .copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: none;
  text-align: center;
  font-size: 0.8rem;
}

/* blood pressure styles */
/*
body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blood-pressure-container {
  border: 1px solid white;
  padding: 10px;
  top: 1;
  margin: 2px;
  max-width: 600px;
  position: absolute;
  right: 0;
  background-color: #999;
  transform: translate(200, 0);
}

.blood-pressure-container h2 {
  margin-top: 0;
}

.blood-pressure-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.blood-pressure-container th,
.blood-pressure-container td {
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
}

.blood-pressure-container th {
  background-color: #eee;
}
*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
}

.patient-name {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  float: left;
  transform: translate(280px, 5px);
  color: navy;
}

/* card styles */
.patient-details {
  display: flex;
  font-weight: bold;
  transform: translate(70px, 305px);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: navy;
}
.schedule-appointment {
  display: flex;
  font-weight: bold;
  transform: translate(690px, 285px);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: navy;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 60px;
  align-items: center;
  padding: 1rem;
  transform: translate(70px, 300px);
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #ccc;
}

.card-icon1 {
  margin-right: 1rem;
}

.card-icon1 img {
  position: absolute;
  transform: translate(-115px, 0px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-content1 h2 {
  font-size: 1.2rem;
  transform: translate(30px, -20px);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-content1 p {
  font-size: 1.1rem;
  font-weight: bold;
  color: dimgray;
  transform: translate(30px, -10px);
}

.card2 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 60px;
  align-items: center;
  padding: 1rem;
  transform: translate(275px, 325px);
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #ccc;
}

.card3 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 60px;
  align-items: center;
  padding: 1rem;
  transform: translate(275px, 350px);
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #ccc;
}

.card4 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 60px;
  align-items: center;
  padding: 1rem;
  transform: translate(580px, 18px);
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #ccc;
}

.card5 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 60px;
  align-items: center;
  padding: 1rem;
  transform: translate(580px, 43px);
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #ccc;
}

.card6 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 60px;
  align-items: center;
  padding: 1rem;
  transform: translate(580px, 70px);
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #ccc;
}

.card-icon2 {
  margin-right: 1rem;
}

.card-icon2 img {
  position: absolute;
  transform: translate(-115px, 0px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-content2 h2 {
  font-size: 1.2rem;
  transform: translate(30px, -20px);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-content2 p {
  font-size: 1.1rem;
  font-weight: bold;
  color: dimgray;
  transform: translate(30px, -10px);
}

/* Calendar styles */
table {
  border-collapse: collapse;
  width: 30%;
  transform: translate(900px, -265px);
  background-color: olivedrab;
  border: 1px solid #ccc;
  border-radius: 10%;
}

th, td {
  border: none;
  padding: 8px;
  text-align: center;
  background-color: olivedrab;
}

th {
  background-color: olivedrab;
}

td {
  height: 34px;
}

td:first-child {
  background-color: olivedrab;
}

td:nth-child(6), td:nth-child(7) {
  background-color: olivedrab;
}

tr:last-child td:first-child {
  font-weight: bold;
  text-align: left;
}

tr:last-child td:last-child {
  font-weight: bold;
  text-align: right;
}

/* clock styles */
.clock {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
