<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/messages.css"/>
    <title>Messages</title>
</head>
<body>
    <div class="card">
        <script src="../scripts/messages.js"></script>
        <div class="notification">
            <div class="notification-header">
              <i class="fas fa-bell"></i>
              <h4>Notifications</h4>
            </div>
            <ul class="notification-list">
              <li>
                <span class="notification-icon"><i class="fas fa-calendar-check"></i></span>
                <span class="notification-text">You have an appointment with <strong>Abdul Rauf</strong> on <strong>April 20, 2023 at 2:00 PM</strong>.</span>
              </li>
              <li>
                <span class="notification-icon"><i class="fas fa-user-plus"></i></span>
                <span class="notification-text">New patient <strong>Renish Okago</strong> has been added to your patient list.</span>
              </li>
              <li>
                <span class="notification-icon"><i class="fas fa-vials"></i></span>
                <span class="notification-text">You have received a new test result for <strong>Kisembo Ivan</strong>.</span>
              </li>
            </ul>
        </div>          
    </div> 
</body>
</html>
  
  