<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/pharmacy.css"/>
    <title>Pharmacy</title>
  </head>
  <body>
    <div class="card">
      <h2>Pharmacy</h2>
      <table>
        <thead>
          <tr>
            <th>Drug ID</th>
            <th>Drug Name</th>
            <th>Price</th>
            <th>Expiry Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Pregnacare</td>
            <td>35000 UGX</td>
            <td>2023-06-30</td>
            <td>
              <button>Edit</button>
              <button>Delete</button>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Paracetamol</td>
            <td>100 UGX</td>
            <td>2024-09-30</td>
            <td>
              <button>Edit</button>
              <button>Delete</button>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Ibuprofen</td>
            <td>300 UGX</td>
            <td>2023-12-31</td>
            <td>
              <button>Edit</button>
              <button>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="../templates/add_drug.html" class="button1">Add</a>
    </div>
  </body>
</html>
