<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
</head>
<header>
   <nav>
    <div class="header-left">
      <img src="../static/images/THE HOSPITAL HUB LOGO_edited.png" alt="Company Logo">
      <div class="company-name">
        <h2>THE</h2>
        <h2>HOSPITAL</h2>
        <h2>HUB</h2>
      </div>
    </div>
   </nav>
   <div class="search">
    <button type="submit"><img src="../static/images/search.jpg" alt="Search Icon"></button>
    <input type="text" placeholder="Search...">
    <i class="fa fa-search"></i>
  </div>
  <div class="header-right">
    <div class="Admin"></div>
      <p>Admin</p>
    </div>
    <div class="patient-image">
      <img src="../static/images/dp pat 1.jpg" alt="Dummy Photo">
    </div>
    <div class="settings-icon">
      <img src="../static/images/settings.jpg" alt="Settings Icon">
    </div>
  </div>
</header>

<body>
  <div class="sidebar">
    <link rel="stylesheet" type="text/css" href="../static/styles/sidebar.css">
    <div class="sidebar-header">
      <img src="../static/styles/logo.png" alt="Logo">
      <h3>Patient Dashboard</h3>
    </div>
    <ul class="sidebar-menu">
      <li><a href="#"><img src="../static/images/appointment.jpg" alt="Schedule Icon">Schedule Appointment</a></li>
      <li><a href="#"><img src="../static/images/medical report.jpg" alt="Medical Records Icon">Medical Records</a></li>
      <li><a href="#"><img src="../static/images/payments.jpg" alt="Payments Icon">Payments</a></li>
      <li><a href="#"><img src="../static/images/consultation.jpg" alt="Consultation Icon">Consultation</a></li>
      <li><a href="#"><img src="../static/images/services.jpg" alt="Services Icon">Services</a></li>
      <li><a href="#"><img src="../static/images/ambulance.jpg" alt="Ambulance Icon">Request Ambulance</a></li>
      <li><a href="#"><img src="../static/images/chat.jpg" alt="Chat Icon">Chat with Doctor</a></li>
      <li><a href="#"><img src="../static/images/update.jpg" alt="Profile Icon">Update Profile</a></li>
      <li><a href="#"><img src="../static/images/log out.jpg" alt="Logout Icon">Log Out</a></li>
    </ul>
  </div>
</body>