<!DOCTYPE html>
<html>
  <head>
    <title>Appointments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../styles/view_appointments.css">
  </head>
  <body>
    <div class="card">
      <div class="appointment-header">
        <h2>Upcoming Appointments</h2>
        <button class="add-appointment-btn"><i class="fas fa-plus-circle"></i> Add Appointment</button>
      </div>
      <ul class="appointment-list">
        <li>
          <div class="patient-info">
            <h3 class="patient-name">Renish Okago</h3>
            <p class="patient-email">fabrizia@gmail.com.com</p>
          </div>
          <div class="appointment-info">
            <h4 class="appointment-reason">Annual checkup</h4>
            <p class="appointment-time">Tuesday, April 19th, 2023 at 10:00 AM</p>
            <p class="appointment-location">In-person</p>
            <div class="appointment-links">
              <a href="../templates/chat_with_doctor.html" class="zoom-link">Zoom Link</a>
              <p class="telehealth-id">Telehealth ID: 123456</p>
            </div>
          </div>
        </li>
        <li>
          <div class="patient-info">
            <h3 class="patient-name">Kisembo Ivan</h3>
            <p class="patient-email">ivankisembo@gmail.com</p>
          </div>
          <div class="appointment-info">
            <h4 class="appointment-reason">Flu Shot</h4>
            <p class="appointment-time">Wednesday, April 20th, 2023 at 3:00 PM</p>
            <p class="appointment-location">In-person</p>
            <div class="appointment-links">
              <a href="../templates/chat_with_doctor.html" class="zoom-link">Zoom Link</a>
              <p class="telehealth-id">Telehealth ID: 789012</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>