/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
  }
  
  /* Card styles */
  .card {
    background-color: #ffffff;
    background-image: url("../images/THE\ HOSPITAL\ HUB\ LOGO-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: fit;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: fit-content;
  }
  
  .card-header {
    background-color: white;
    color: #0a2351;
    padding: 20px;
    text-align: center;
    border-bottom: 1.5px solid #ccc;
  }
  
  .card-header h1 {
    margin: 0;
    font-size: 32px;
  }
  
  .form-group {
    padding: 20px;
    width: 90%;
  }
  
  .form-group label {
    display: block;
    font-size: 13.5px;
    margin-bottom: 5px;
    transform: translate(0px, -7px);
    color: #0a2351;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group select,
  .form-group input[type="password"] {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    margin-bottom: -40px;
  }
  
.form-group input[type="checkbox"] {
    margin-right: 10px;
    transform: translate(5px, 2px);
}
    
.form-group button[type="submit"] {
    background-color: #0a2351;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transform: translate(0px, -30px);
    width: 105%;
}
  
  .form-group button[type="submit"]:hover {
    background-color: #272846;
  }
  
  #password-toggle-btn {
    color: #333;
    background-color: #f2f2f2;
    border: 1px none;
    transform: translate(480px, -20px);
  }
  
  #confirm-password-toggle-btn {
    color: dimgray;
    background-color: none;
    border: 1px none;
    transform: translate(480px, -20px);
  }
  
  .toggle-btn:hover {
    cursor: pointer;
  }

  .footer {
    background-color: white;
    color: dimgray;
    text-align: center;
    padding: 20px;
  }
  
  .footer a {
    color: #0039a6;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }