<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="head">
    <link rel="stylesheet" href="../static/styles/header.css"/>
      
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Search">
	      <svg class="search-icon" viewBox="0 0 32 32"><path d="M31.7 29.3L22.9 20.5C24.1 18.9 25 16.9 25 14.8 25 6.6 18.4 0 10 0S0 6.6 0 14.8s6.6 14.8 14.8 14.8c2.1 0 4.1-0.4 6-1.2l8.8 8.8c0.4 0.4 0.9 0.6 1.4 0.6s1-0.2 1.4-0.6c0.8-0.8 0.8-2.1 0-2.9zM14.8 25.9c-6.1 0-11.1-5-11.1-11.1s5-11.1 11.1-11.1 11.1 5 11.1 11.1-5 11.1-11.1 11.1z"/></svg>
      </div>
      <div class="header-right">
        <div class="Admin">Admin</div>
        <p>Mubarak</p>
      </div>
      <div class="patient-image">
        <img src="../static/images/dp pat 1.jpg" alt="Dummy-Photo">
      </div>
      <div class="settings-icon">
        <img src="../static/images/settings.jpg" alt="Settings-Icon">
      </div>
  </header>
</body>

<!-- Dashboard -->
<body>
  <div class="container">
    <div class="header"></div>
    <nav >
      <img src="../static/images/THE HOSPITAL HUB LOGO_edited.png" alt="company-logo" class="Logo"/>
      <div class="company-name">
        <h1>THE</h1>
        <h1>HOSPITAL</h1>
        <h1>HUB</h1>
      </div>
    </nav>
    <div class="sidebar">
      <div class="sidebar-header">
        <h3>Patient Dashboard</h3>
      </div>
      <ul class="sidebar-menu">
        <li><a href="#"><img src="../static/images/appointment.jpg" alt="Schedule Icon">Schedule Appointment</a></li>
        <li><a href="#"><img src="../static/images/medical report.jpg" alt="Medical Records Icon">Medical Records</a></li>
        <li><a href="#"><img src="../static/images/payments.jpg" alt="Payments Icon">Payments</a></li>
        <li><a href="#"><img src="../static/images/consultation.jpg" alt="Consultation Icon">Consultation</a></li>
        <li><a href="#"><img src="../static/images/services.jpg" alt="Services Icon">Services</a></li>
        <li><a href="#"><img src="../static/images/medicine.jpg" alt="Pharmacy Icon">Pharmacy</a></li>
        <li><a href="#"><img src="../static/images/ambulance.jpg" alt="Ambulance Icon">Request Ambulance</a></li>
        <li><a href="#"><img src="../static/images/chat.jpg" alt="Chat Icon">Chat with Doctor</a></li>
        <li><a href="#"><img src="../static/images/update.jpg" alt="Profile Icon">Update Profile</a></li>
        <li><a href="#"><img src="../static/images/log out.jpg" alt="Logout Icon">Log Out</a></li>
      </ul>
      <div class="copyright">
        <p>&copy; 2023 by TheHospitalHub. All rights reserved.</p>
      </div>
    </div>
  </div>
</body>

<!---
<body>
  <div class="blood-pressure-container">
    <h2>Blood Pressure Readings</h2>
    <canvas id="blood-pressure-chart"></canvas>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Systolic</th>
          <th>Diastolic</th>
        </tr>
      </thead>
      <tbody>
      blood pressure readings will be added dynamically using JavaScript
      </tbody>
    </table>
  </div>
</body>
-->

<body>
  <div class="container1">
    <div class="patient-name">
      <h1>Renish Okago</h1>
    </div>
    <div class="content">
      <div class="patient-details">Patient Details</div>
      <div class="schedule-appointment">Schedule Appointment</div>
      <div class="card1">
        <div class="card-icon1">
          <img src="../static/images/blood group.jpg" alt="Blood group icon">
        </div>
        <div class="card-content1">
          <h2>Blood Group</h2>
          <p>O+</p>
        </div>
      </div>
      <div class="card2">
        <div class="card-icon1">
          <img src="../static/images/allergy.jpg" alt="allergy icon">
        </div>
        <div class="card-content1">
          <h2>Drug Allergies</h2>
          <p>Sulphur derivatives</p>
        </div>
      </div>
      <div class="card3">
        <div class="card-icon1">
          <img src="../static/images/recent admission.jpg" alt="recent admission icon">
        </div>
        <div class="card-content1">
          <h2>Recent Admission</h2>
          <p>01-11-2022</p>
          <p>ObGyn Ward</p>
        </div>
      </div>
      <div class="card4">
        <div class="card-icon2">
          <img src="../static/images/occupation.jpg" alt="doctor icon">
        </div>
        <div class="card-content2">
          <h2>Occupation</h2>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="card5">
        <div class="card-icon2">
          <img src="../static/images/medicine.jpg" alt="medicine icon">
        </div>
        <div class="card-content2">
          <h2>On-medication</h2>
          <p>Pregncare</p>
        </div>
      </div>
      <div class="card6">
        <div class="card-icon2">
          <img src="../static/images/address.jpg" alt="address icon">
        </div>
        <div class="card-content2">
          <h2>Address</h2>
          <p>Nairobi, Kenya</p>
          <p>+254702335332</p>
        </div>
      </div>
      <!-- Calendar -->
      <div card="card7">
        <div card="card-content3">
          <table>
            <tr>
              <th>MON</th>
              <th>TUE</th>
              <th>WED</th>
              <th>THUR</th>
              <th>FRI</th>
              <th>SAT</th>
              <th>SUN</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td>2</td>
            </tr>
            <tr>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
            </tr>
            <tr>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
            </tr>
            <tr>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
            </tr>
            <tr>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2">Time</td>
              <td colspan="5"></td>
              <td>10:00am</td>
            </tr>
          </table>
        </div>
      </div>          
    </div>
  </div>
</body>
</html>
